$bodyBg: #f8f9fd;
$mainColor: #001a34;
$gray0: #c4c4c4;
$mainColorLight: #d5dce6;
$accentColor: #1c223e;
$dangerColor: #d8232b;
$successColor: #36ac5e;

$white: #ffffff;
$sans: "Nunito Sans", sans-serif;

$fontWeightNormal: 400;
$fontWeightMedium: 600;
$fontWeightBold: 700;

$fontSizeSmall: 14px;
$fontSizeNormal: 16px;
$fontSizeMedium: 18px;

$tabletWidthMaxLimit : 1024px;

$sizingBarWidth : 240px; 
$sizingBarHeight : 471px; 

$headerSpacing : 24px; 
$headerLogoHeight : 32px; 

$tableRadius : 670px; 

$mmin-width--desktop :1000px; 
$mmin-width--wide-desktop :1300px; 
